html, body {
  height: 100%;
  background-color: #fdfd96;
}

.header-wrapper {
  height: 100%;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

.header {
  padding-top: calc(30px + 5%);
}

.header h1 {
  font-size: 2.5em;
  margin: 0px 30px;
}

.header img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-wrapper {
  height: 30px;
}

.navbar {
  overflow: hidden;
  position: relative;
  height: 30px;
  text-align: center;
  background-color: white;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
}

.navbar a {
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
}

.content-container {
  padding-top: 30px;
  width: 100%;
  height: 100%;
}

.s1 {
  background-color: orange;
}
